<nav class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="modal hide" id="infos">
      <div class="modal-header"> <a class="close" data-dismiss="modal">×</a>
          <h3>Plus d'informations</h3>
        </div>
        <div class="modal-body">
          <p>Gestions d'activités</p>
        </div>
      <div class="modal-footer">
        <a class="btn btn-info" data-dismiss="modal">Fermer</a>
      </div>
    </div>
    <a class="brand" data-toggle="modal" href="#infos" >Gestions d'activités</a>
      <ul class="nav">
        <div class="btn-group">
          <button class="btn btn-info">Admin</button>
          <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="#"><i class="icon-user"></i> Ajouter utilisateurs</a>
            </li>
            <li>
              <a href="#"><i class="icon-picture"></i> Ajouter taches</a>
            </li>
        </ul>
      </div>
      </ul>
      <ul class="nav navbar-nav pull-right">
          <li class="active">
            <a routerLink="/login">Se connecter</a>
          </li>
      </ul>
  </div>
</nav>
  <div class="row">
    <div class="span12">
      <div class="row">
        <div class="span3 offset2">
          <app-activite>

          </app-activite>
        </div>
        <div class="span7">
          <router-outlet>

          </router-outlet>
        </div>
      </div>
    </div>
  </div>
